zipp==3.21.0
markdown-it-py==3.0.0
mdurl==0.1.2
typing-extensions==4.12.2
six==1.17.0
absl-py==2.1.0
h5py==3.12.1
numpy==1.26.4
ml-dtypes==0.4.1
namex==0.0.8
optree==0.13.1
packaging==24.2
certifi==2024.12.14
charset-normalizer==3.4.0
idna==3.10
grpcio==1.68.1
importlib-metadata==8.5.0
protobuf==3.20.3
tensorboard-data-server==0.7.2
astunparse==1.6.3
wheel==0.45.1
flatbuffers==24.3.25
gast==0.6.0
google-pasta==0.2.0
keras==3.7.0
rich==13.9.4
libclang==18.1.1
opt-einsum==3.4.0
requests==2.32.3
urllib3==2.2.3
tensorboard==2.17.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
wrapt==1.17.0
joblib==1.4.2
scipy==1.11.4
threadpoolctl==3.5.0
tensorflow-intel==2.17.0
array-record==0.4.1
click==8.1.7
colorama==0.4.6
dm-tree==0.1.8
promise==2.3
psutil==6.1.0
tensorflow-metadata==1.16.1
toml==0.10.2
tqdm==4.67.1
fsspec==2024.10.0
importlib-resources==6.4.5
opencv-python==4.10.0.84
pillow==10.4.0
scikit-learn==1.5.0
tensorflow==2.17.0
tensorflow-datasets==4.9.3
